# Node
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.pyc
nao_env/
venv/
.venv/

# Bulky Binaries & Installers
*.msi
*.exe
*.zip
*.rar
*.dll

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
